<!--
  ~ Copyright (c) 2021 2bllw8
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.bbllw8.anemo.documents.snippet">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="30" />

    <application>

        <activity
            android:name="eu.bbllw8.anemo.documents.snippet.SnippetTakingActivity"
            android:label="@string/snippet_taking_label"
            android:theme="@style/DialogTheme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>
