<!--
  ~ Copyright (c) 2021 2bllw8
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.bbllw8.anemo.shell">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="30" />

    <application
        android:allowBackup="false"
        android:allowClearUserData="false"
        android:appCategory="productivity"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" />
</manifest>
