<!--
  ~ Copyright (c) 2021 2bllw8
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exe.bbllw8.anemo.documents">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>

        <!-- Lock -->

        <service
            android:name=".lock.AutoLockJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <service
            android:name=".lock.LockTileService"
            android:exported="true"
            android:icon="@drawable/ic_key_tile"
            android:label="@string/tile_title"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Password -->

        <activity
            android:name=".password.PasswordActivity"
            android:label="@string/password_label"
            android:theme="@style/DialogTheme"
            android:excludeFromRecents="true" />

        <!-- Provider -->

        <provider
            android:name=".provider.AnemoDocumentProvider"
            android:authorities="exe.bbllw8.anemo.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">

            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- Receiver -->

        <activity
            android:name=".receiver.ReceiverActivity"
            android:label="@string/receiver_label"
            android:theme="@android:style/Theme.NoDisplay"
            android:excludeFromRecents="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="audio/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>

        <service
            android:name=".receiver.ReceiverService"
            android:foregroundServiceType="dataSync" />
    </application>
</manifest>
