<!--
  ~ Copyright (c) 2021 2bllw8
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.bbllw8.anemo.documents.provider">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="30" />

    <application>

        <provider
            android:name=".AnemoDocumentProvider"
            android:authorities="eu.bbllw8.anemo.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">

            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>
    </application>
</manifest>
