<!--
  ~ Copyright (c) 2021 2bllw8
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.bbllw8.anemo.documents.password">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="30" />

    <application>
        <activity
            android:name="eu.bbllw8.anemo.documents.password.PasswordActivity"
            android:label="@string/password_label"
            android:theme="@style/DialogTheme"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="eu.bbllw8.anemo.action.UNLOCK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
