<!--
  ~ Copyright (c) 2021 2bllw8
  ~ SPDX-License-Identifier: GPL-3.0-only
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="exe.bbllw8.anemo.editor.main">

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="30" />

    <application>

        <activity
            android:name=".EditorActivity"
            android:label="@string/editor_label"
            android:theme="@style/AppTheme">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.EDIT" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/*" />
            </intent-filter>
        </activity>

        <activity
            android:name=".OpenFileActivity"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <activity-alias
            android:name=".EditorShell"
            android:enabled="@bool/editor_shell_enabled_default"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/editor_label"
            android:targetActivity=".EditorActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:label="@string/editor_snippet_save">
                <action android:name="android.intent.action.PROCESS_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
    </application>
</manifest>
