name: Release

on:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Project checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Cache Gradle Dependencies
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper
            !~/.gradle/caches/build-cache-*
          key: gradle-deps-core-${{ hashFiles('**/build.gradle') }}
          restore-keys: |
            gradle-deps
      - name: Cache Gradle Build
        uses: actions/cache@v2
        with:
          path: |
            ~/.gradle/caches/build-cache-*
          key: gradle-builds-core-${{ github.sha }}
          restore-keys: |
            gradle-builds
      - name: Signing key
        run: |
          echo 'androidStorePassword=${{ secrets.KEY_STORE_PASSWORD }}' >> local.properties
          echo 'androidKeyAlias=${{ secrets.ALIAS }}' >> local.properties
          echo 'androidKeyPassword=${{ secrets.KEY_PASSWORD }}' >> local.properties
          echo 'androidStoreFile=sign_key.jks' >> local.properties
          echo '${{ secrets.KEY_STORE }}' | base64 --decode > sign_key.jks
      - name: Build
        id: build
        run: |
          echo 'org.gradle.caching=true' >> gradle.properties
          echo 'org.gradle.parallel=true' >> gradle.properties
          echo 'org.gradle.vfs.watch=true' >> gradle.properties
          echo 'org.gradle.jvmargs=-Xmx2048m' >> gradle.properties
          ./gradlew :app:assembleRelease
      - name: Upload release
        uses: actions/upload-artifact@v2
        with:
          name: app.apk
          path: "app/build/outputs/apk/release/app-release-unsigned.apk"
          retention-days: 14
      - name: Upload mappings
        if: ${{ github.event_name == 'push' }}
        uses: actions/upload-artifact@v2
        with:
          name: mappings
          path: "app/build/outputs/mapping/release"
      - name: Create release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "app/build/outputs/apk/release/app-release-unsigned.apk"
          draft: true
          token: ${{ secrets.GITHUB_TOKEN }}
